<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.codejstudio.service.dao.UserDao">  
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->  
    <resultMap id="BaseResultMap" type="com.codejstudio.service.dto.UserDTO">  
        <id column="ID" property="id"  />  
        <result column="U_USERNAME" property="u_username"  />  
        <result column="U_PASSWORD" property="u_password" />  
        <result column="U_MOBILE" property="u_mobile"  />  
        <result column="CREATE_TIME"  property="create_time"  />
        <result column="MODIFY_TIME"  property="modify_time"  />
    </resultMap>  
    <!-- 查询单条记录 -->  
    <select id="selectUser" parameterType="com.codejstudio.service.dto.UserDTO" resultMap="BaseResultMap">  
        SELECT * FROM pa_user WHERE U_MOBILE = #{u_mobile} and U_PASSWORD = #{u_password}
    </select>  
</mapper>  